:root {
  /* COLORS */
  --color-black: #000000;
  --color-gray: #a0a0a0;
  --color-accent: #21bda3;

  /* TYPOGRAPHY */
  --font-family: "Inter", sans-serif;

  --font-size-title: 2rem;
  --font-size-subtitle: 1.5rem;
  --font-size-heading: 1rem;
  --font-size-body: 0.875rem;
  --font-size-caption: 0.75rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
